.page-header {
  min-height: 15em;
  text-align: center;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-title {
  color: #61dafb;
  font-weight: bold;
  font-size: 8vh;
}

.header-subtitle {
  color: whitesmoke;
  font-weight: bold;
  font-size: 3vh;
  padding: 0 5%;
}

.page-content {
  display: flex;
  justify-content: center;
  max-width: 1080px;
  padding: 60px 10%;
  flex-wrap: wrap;
}

.page-content-wrap {
  display: flex;
  justify-content: center;
}

.page-content-1 {
  flex: 4 0 0%;
  min-width: 30vmin;
}

.content-framework-desc {
  width: 80%;
  font-family: Calibri;
}
.page-content-2 {
  flex: 3 0 0%;
  min-width: 30vmin;
  text-align: right;
}

.li-none {
  list-style: none;
}

.li-none > li {
  margin: 10px;
}

.li-none > li:hover {
  text-shadow: 1px 1px 2px #61dafb;
}

.spacing-1px {
  letter-spacing: 1px;
}

.space-small {
  height: 10px;
}

.space-normal {
  height: 20px;
}

.space-large {
  height: 60px;
}
