.card-container {
  margin-top: 2.5%;
  display: flex;
  flex-wrap: wrap;
}

.card-framework {
  width: 25%;
  text-align: left;
  border: 2px solid #1d1e22;
  box-shadow: 1px 1px 1px #1d1e22;
  padding: 20px 15px 15px 20px;
  margin: 1em auto;
}

.card-framework:hover {
  border: 2px solid #feda6a;
  box-shadow: 1px 1px 1px #feda6a;
  cursor: pointer;
}

.card-title {
  color: d4d4dc;
  font-weight: bold;
}

/* .card-left {
  margin: 7.5%;
} */

.card-logo > img {
  margin-top: 15%;
  height: 100%;
  width: 100%;
}
