.page-header {
  min-height: 15em;
  text-align: center;
  background-color: #282c34;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.header-title {
  color: #61dafb;
  font-weight: bold;
  font-size: 8vh;
}

.header-subtitle {
  color: whitesmoke;
  font-weight: bold;
  font-size: 2.5vh;
}

.page-content {
  display: flex;
  justify-content: center;
  width: 80%;
}

.page-content-1 {
  flex: 4 0 0%;
}

.content-framework-desc {
  width: 60%;
  font-family: Calibri;
}
.page-content-2 {
  flex: 3 0 0%;
}

.content-framework-features {
  width: 60%;
}

.spacing-1px {
  letter-spacing: 1px;
}

.space-small {
  height: 10px;
}

.space-normal {
  height: 20px;
}

.space-large {
  height: 60px;
}
