.card-container {
  margin-top: 2.5%;
  display: flex;
  flex-wrap: wrap;
}

.card-framework {
  width: 25%;
  text-align: left;
  border: 2px solid chocolate;
  padding: 20px 15px 15px 20px;
  margin: 1em auto;
}

.card-framework:hover {
  border: 2px solid #ffd700;
}

.card-header {
  color: brown;
  font-weight: bold;
}

/* .card-left {
  margin: 7.5%;
} */

.card-logo > img {
  margin-top: 15%;
  height: 100%;
  width: 100%;
}
