.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}

.app-navigation {
  flex: 0 1 auto;
}

.app-content {
  flex: 1 0 auto;
}
