.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}

.app-navigation {
  flex: 1;
}

.app-content {
  /* flex: 1; */
  overflow: auto;
}
