/* .page-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 0 auto;
} */

.page-flow {
  width: 60%;
  margin: 0 auto;
  /* flex-direction: column; */
}

.page-flow > h1 {
  text-align: center;
}

.page-answers {
  display: flex;
  flex-wrap: wrap;
}

.page-answer {
  border: 2px solid #1d1e22;
  text-align: left;
  margin: 1em auto;
  box-shadow: 1px 1px 1px #1d1e22;
  width: 20%;
  padding: 15px 10px 10px 15px;
}

.page-answer:hover {
  border: 2px solid #feda6a;
  box-shadow: 1px 1px 1px #feda6a;
}

.page-recommendation {
  margin: 1em auto;
  margin-top: 5%;
  /* width: 80%; */
  text-align: center;
}

.page-answers {
  margin-top: 5%;
}

.page-results {
  margin: 1em auto;
  text-align: center;
  /* display: flex; */
  flex-wrap: wrap;
  width: 80%;
}

.page-rec1,
.page-rec2 {
  border: 2px solid #1d1e22;
  box-shadow: 1px 1px 1px #1d1e22;
  padding: 20px 15px 15px 20px;
  margin: 1em auto;
  width: 60%;
}
