.app-container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  flex-direction: column;
  display: flex;
}

.app-navigation {
  flex: 0 1 auto;
  height: 40px;
  display: flex;
  align-items: center;
  background-color: #393f4d;
  box-shadow: 0 0 25px 0 black;
  border-bottom: 1px solid black;
}

.app-navigation * {
  display: inline;
}

.app-navigation li {
  margin: 20px;
}

.app-navigation li a {
  color: #feda6a;
  text-decoration: none;
  font-weight: bold;
}

.app-navigation li a:hover {
  text-shadow: 1px 0 0 black;
}

.app-content {
  flex: 1;
  overflow: auto;
  background-image: url("../images/bg.png");
}

body::-webkit-scrollbar {
  width: 5em;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategray;
}
